/* Cleaning browses'style an general appearance */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
}

img {
    display: block;
}

a, a:hover {
    text-decoration: none;
}


.background-layer {
    background-color: #474747;
}

.landing-layer {
    background-image: url(assets/winterland2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/* Navigation appearance */
nav {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 100vw;
    z-index: 10;
}

.nav-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.navbrand {
    height: 70px;
    width: 50px;
}

#dropdown-toggler {
    height: 30px;
    width: 30px;
}

.dropdown-rotate {
    animation: rotate 1.2s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

#dropdown-toggler:hover {
    cursor: pointer;
    opacity: 0.8;
    margin-bottom: 2px;
}

#navbar-collapse {
    margin-top: 15px;
    float: right;
}

.nav-link {
    color: #d83c23;
    text-transform: capitalize;
}

.nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
    margin-bottom: 10px;
    background-color: #ffffff;
    display: none;
    animation: slide 1.2s ease-in-out;
    text-align: right;
    padding-right: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

@keyframes slide {
    from {
        margin-top: -100px;
    }

    to {
        margin-top: 0px
    }
}

.nav-link:hover {
    color: #ccebec;
    margin-left: 5px;
}



/* Description Content Style */

.presentation-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}

.main-title {
    width: 100%;
    margin: 0 auto;
}

.presentation-content {
    width: 100%;
    text-align: left;
    margin-top: 40px;
    font-size: 0.9em;
    padding-left: 20px;
    padding-right: 20px;
    color: #474747;
}

.social-medias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 20px;
}

.social-media {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.boy-illustration {
    position: absolute;
    width: 300px;
    bottom: 10px;
}

.further-button {
    background-color: #d83c23;
    color: #ffffff;
    width: 150px;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    margin-top: 40px;
    float: right;
    margin-right: 20px;
}

@media screen and (min-width: 520px) and (max-width: 700px) {
    .main-title {
        width: 85%;
        margin-top: 100px;
    }

    .presentation-content {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;
    }

    .social-medias {
        margin-top: 40px;
        margin-right: 50px;
    }

    .further-button {
        margin-right: 50px;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .presentation-container {
        width: 60%;
        padding: 8%;
    }

    .main-title {
        margin: 0 auto;
        margin-top: 150px;
    }

    .presentation-content {
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
        font-size: 0.9em;
    }

    .social-medias {
        width: 100%;
        margin: 0 auto;
        margin-top: 40px;
        justify-content: space-around;
        width: 70%;
    }

    .social-media {
        margin: 0;
        width: 40px;
        height: 40px;
    }

    .further-button {
        float: none;
        margin: 0 auto;
        margin-top: 30px;
        padding: 8px;
        font-size: 0.8em;
        font-weight: 500;
        width: 140px;
    }

    .boy-illustration {
        position: absolute;
        width: 300px;
        bottom: 150px;
        right: 70px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1300px) {
    #dropdown-toggler {
        display: none;
    }

    #navbar-collapse {
        display: flex;
        flex-direction: row;
        margin-top: -75px;
        padding-right: 3%;
    }

    .nav-item {
        display: block;
        background-color: #00000000;
    }

    .nav-link {
        color: #f7e3aa;
    }
    .nav-link:hover {
        color: #d83c23;
    }

    .presentation-container {
        width: 60%;
        padding: 10%;
    }

    .main-title {
        margin: 0 auto;
        margin-top: 150px;
        width: 70%;
        margin-top: 80px ;
    }

    .presentation-content {
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        font-size: 0.9em;
        width: 80%;
    }

    .social-medias {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        justify-content: space-around;
        width: 40%;
    }

    .social-media {
        width: 35px;
        height: 35px;
    }

    .further-button {
        float: none;
        margin: 0 auto;
        margin-top: 30px;
        padding: 8px;
        font-size: 0.8em;
        font-weight: 500;
        width: 140px;
    }

    .boy-illustration {
        position: absolute;
        width: 350px;
        bottom: 30px;
        right: 15%;
    }
}

@media screen and (min-width: 1300px)  {
    #dropdown-toggler {
        display: none;
    }

    #navbar-collapse {
        display: flex;
        flex-direction: row;
        margin-top: -75px;
        padding-right: 3%;
    }

    .nav-item {
        display: block;
        background-color: #00000000;
    }

    .nav-link {
        color: #f7e3aa;
    }
    .nav-link:hover {
        color: #d83c23;
    }

    .presentation-container {
        width: 75%;
        padding: 10%;
    }

    .main-title {
        margin: 0 auto;
        margin-top: 150px;
        width: 80%;
        margin-top: 80px ;
    }

    .presentation-content {
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        font-size: 1.1em;
        width: 80%;
    }

    .social-medias {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        justify-content: space-around;
        width: 40%;
    }

    .social-media {
        width: 60px;
        height: 60px;
    }

    .further-button {
        float: none;
        margin: 0 auto;
        margin-top: 30px;
        padding: 15px;
        font-size: 1em;
        font-weight: 500;
        width: 200px;
    }

    .boy-illustration {
        position: absolute;
        width: 500px;
        bottom: 30px;
        right: 10%;
    }
}